name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      # gradlew가 위치한 실제 경로를 입력하세요.
      run: chmod +x gradlew
      working-directory: ./폴더명을_여기에_입력하세요 

    - name: Build with Gradle
      # 빌드 실행 시에도 동일한 경로를 지정해야 합니다.
      run: ./gradlew assembleDebug
      working-directory: ./폴더명을_여기에_입력하세요

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Practicemod-Debug-APK
        # APK가 생성되는 경로도 '폴더명/app/...' 식으로 수정이 필요할 수 있습니다.
        path: 폴더명/app/build/outputs/apk/debug/*.apk
